# MongoDB Atlas Connection
MONGODB_URL=mongodb+srv://<user>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=handball_statistics

# API Settings
API_TITLE=7metrics Handball Statistics API
API_VERSION=1.0.0
DEBUG=true
